/* .dark{
    background-color: black;
    color: antiquewhite;
}
.neg{
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-weight: bold;
	 background-color: aqua;
}
#id{
	background-color:aqua;
} */